input:not([type='checkbox']), select {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05px;

  color: #fafafa;
  background-color: var(--color-background-soft);
  padding: 12px;
  border-radius: 8px;
  border-width: 1px;
  border-color: var(--color-background-mute);
  border-style: solid;

  width: 100%;

  outline: none;
  --moz-box-shadow: none;
  --moz-appearance: none;
}

input.icon, input.error {
  padding-left: calc(16px + 24px);
}

input[type="text"]:focus, select:focus {
  border-color: #424242;
}

input, select {
  transition: background .5s;
}

input.error, select.error {
  position: relative;
  border-color: #D11E1E;
}

input.error {
  background: url(./icon/error.svg) no-repeat 8px 50%;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;

  font: inherit;
  color: #6f6f6f;

  width: 1.15em;
  height: 1.15em;
  border: 1.5px solid #6f6f6f;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  cursor: pointer;
}

input[type="checkbox"]:checked {
  border: none;

  
  background-image: url(./icon/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.15em;
}

button {
  position: relative;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;

  border: none;

  width: 100%;

  color: #fff;
  background-color: var(--vt-c-vuegreen);
  padding: 12px 16px;
  border-radius: 8px;

  cursor: pointer;
}

button:hover {
  background-color: var(--vt-c-vuegreen-soft);
}

button:disabled {
  background-color: var(--vt-c-vuegreen-mute);
  cursor: not-allowed;
}

button:active {
  background-color: var(--vt-c-vuegreen-soft);
}

button.loading:before {
  position: absolute;
  content: "";
  background-color: hsla(229, 83%, 60%, 1);
  padding: 12px 16px;
  border-radius: 8px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

button.loading:after {
  position: absolute;
  content: "";
  background-image: url(./icon/loader.svg);
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  animation: spin 2s infinite linear;
}

button {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: max-content max-content;
  gap: 4px;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  50% { transform: translate(-50%, -50%) rotate(180deg) }
  100% { transform: translate(-50%, -50%) rotate(360deg) }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: url(./icon/chevron.svg) no-repeat right 8px center;
  cursor: pointer;
}

select:focus {
  background: url(./icon/chevron-down.svg) no-repeat right 8px center;
}

select::-ms-expand {
  display: none;
}